openapi: '3.0.2'
info:
  title: SASjs Server API
  description: Provides a basic API over a foundation SAS instance, for use cases
    such as SAS program execution, logical folder / file management, and creation
    of users & groups.
  version: '1.0'
servers:
  - url: https://sas.analytium.co.uk:5003/v1
paths:
  /SASjsApi/executor:
    post:
      summary: Execute a Stored Program from SASjs Drive
      description: Trigger a SAS program using it's location in the `_program` parameter.
        Enable debugging using the `_debug` parameter.  Additional URL parameters are
        turned into SAS macro variables.  Any files provided are placed into the session
        and corresponding `_WEBIN_XXX` variables are created.
      parameters:
        - name: _program
          in: query
          example: "/Public/some/process"
          schema:
            type: string
          required: true
        - name: _debug
          in: query
          schema:
            type: integer
            enum: [0,131]
          required: false
      responses:
        '200':
          description: Contains whatever content is written to the `_webout` fileref
            by the Stored Program.  If _debug is 131 or greater, then the log is also
            written to the output.
  /SASjsApi/files:
    summary: Interface with the virtual file system
    get:
      summary: Fetch file content from SASjs Drive
      parameters:
        - name: filepath
          in: query
          example: "/Public/somefolder/some.file"
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns the raw file content
    post:
      summary: Create (or modify) a file in SASjs Drive
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                filePath:
                  type: string
                fileContent:
                  type: string
      responses:
        '200':
           description:  JSON with 2 parts -